<!DOCTYPE html>
<html>
    <head>
        <title>CouchDB Design Documents</title>
        <link rel="stylesheet" type="text/css" href="desktop.css" />
    </head>
    <body>
        <div style="text-align: center; margin-top: 12em;">
            <h1>
                CouchDB Design Documents
            </h1>
            <p style="font-style: italic;">
                Dylan Laufenberg, Portland State University, CS 588: Cloud &amp; Cluster Data Management, Fall 2019
            </p>
            <p>
                Slides: <a href="https://tinyurl.com/cs588ddocs">https://tinyurl.com/cs588ddocs</a><br />
            </p>
            <p style="margin-top: 4em;">
                <% if first_slide.respond_to? :to_str %>
                    <%# We got an error message %>
                    <%= first_slide %>
                <% else %>
                    <%# Success %>
                    <a href='<%= first_slide['rows'][0]['id'] %>.html' style="color: rgb(105, 3, 0);">&gt;&gt;</a>
                <% end %>
            </p>
        </div>
    </body>
</html>
