/* SECTION: Navigation */

body {
    font-size: 150%;
    font-family: sans-serif;
    background-color: rgb(238, 238, 238);
    color: #404040;
}

article {
    margin-left: 300px;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    background-color: rgb(52, 49, 49);
}

nav, nav a {
    color: rgb(217, 217, 217);
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    padding-top: 40px;
}

nav li {
    padding-bottom: 0.75em;
}

/* SECTION: Slide */

article {
    padding: 10px;
}

h1 {
    margin-top: 0
}

article .column {
    float: left;
}

article .column>h2 {
    margin-top: 0;
}

article .column+.column {
    margin-left: 40px;
}

#links {
    clear: both;
}

#links ul {
    list-style-type: none;
}
